@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
body {
    margin: auto;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


/* header section */

#black-top {
    background: #000000db;
    min-height: 55px;
}

.dark-items,
.dark2-items {
    padding: 0;
    margin: 0;
}

.dark-items li,
.dark2-items li {
    display: inline-block;
    list-style: none;
    /* border-right: 1px solid #fff; */
}

.lng-itm {
    width: 100% !important;
}

.lan-btn {
    color: #000 !important;
}

.dark2-items li {
    /* width: 180px; */
    color: #fff;
}

.lan-btn a {
    text-decoration: none;
    color: #000;
}

.checkoutbtn {
    min-width: 105px;
    text-align: center;
    border-right: 1px solid #fff;
}

.checkoutbtn:last-child {
    border: none;
}

.checkoutbtn a,
.checkoutbtn a i {
    text-decoration: none;
    color: #fff;
}

#midHeader {
    border-bottom: 1px solid #eee;
    padding: 15px 0 0px;
}

#logocover {
    height: 80px;
    width: 180px;
    overflow: hidden;
}

#logocover img {
    height: 100%;
    width: 100%;
}

#searchCat,
#btnAllCatog {
    border-radius: 1px;
    height: 45px;
    border: 1px solid #e0e0e0;
}

.allcatdrop,
.allbtn,
#searchCat {
    font-size: 12px;
    color: #666;
}

#searchCat:focus {
    box-shadow: none;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 16px;
    right: 19px;
    color: #666;
}

.shopping a,
.shopping a i {
    text-decoration: none;
    color: #F89D18;
}

.shopping {
    min-width: 129px;
    /* border-right: 2px solid #F89D18; */
    border-top: 3px solid #fff;
    padding-bottom: 7px;
}

.shopping:hover {
    border-bottom: 3px solid #F89D18;
}

.counter-badge {
    position: absolute;
    top: -18px;
    left: 8px;
    border-radius: 40px;
    color: #F89D18;
    border: 2px solid #F89D18;
    font-size: 10px;
}

@media (max-width: 867px) {
    #black-top {
        min-height: 130px;
    }
    #darklinks {
        text-align: start !important;
    }
    .small-hidden {
        display: none !important;
    }
    .shopping {
        min-width: 100px;
    }
    .shopping a {
        border: 1px solid #F89D18;
        padding: 5px;
    }
    .counter-badge {
        background: #F89D18;
        color: #fff;
    }
}